@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; } 
@-o-viewport { width: device-width; scale: 1; } 
@-webkit-viewport { width: device-width; scale: 1; } 
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-size: 110%;
    font-family: "Bodoni MT", Times, serif;
    color: darkslategray;
}

ul {
    margin:0;
    list-style:none;
    -webkit-padding-start: 0px;
}

h3, h2 {
    display: block;
    font-size:1.17em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
        
img { 
    display:block;
    width:100%;
}

body {
    margin: 0;
    padding: 0;
}

.masthead { 
    background-color: cadetblue;
    overflow: hidden;
}
      
.billboard {
    overflow: hidden;
    background-repeat: repeat;
    background-size: 40rem;
    background-position: center center;
}

.billboard-home {
    background-image: url(../images/billboard.jpg);
}

.billboard-about {
    background-image: url(../images/fashion-b.jpg);
    margin-top:1.5rem;
    background-size: 110%;
}
  
article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}
     
h1 {
    font-family: Optima, Times, Serif;
    font-weight: normal;
    font-size: 5rem;
    text-align: center;
    margin: 1.5rem 0;
    line-height: 4rem;
    padding: .25rem 0;
    color: white;
}

.logo {
    width:40%;
    margin: 1.5rem auto 0;
}

.logo:hover {
    opacity:.6;
    cursor:pointer;
}

.nav ul {
    margin: 1.5rem 0 0;
    padding: 0;
	text-align: center;
    background-color: indianred;
}

.nav li {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: Optima, Times, Serif;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: inline-block;
	margin: 0;
	padding: 1.5rem 1rem;
	color: white;
	font-size: 1.25em; 
	text-decoration: none;
}

.main {
    margin: 1.5rem 0 0;
}

.content {
    border-bottom: 5px solid cadetblue;
    margin: 1.5rem 0;
}

.product-box {
    margin: 1.5rem 0;
    width:100%;
    display:block;
}

.product-box a {
    padding:10% 20%;
    width:45%;
    display:inline-block;
    background-color: cadetblue;
    margin-right: 8.65%;
}

.product-box a:last-child {
    margin:0;
}

.product-box a:hover {
    opacity: .6;
}

/* About */

.grid {
    margin:0;
    padding:0;
}

.unit {
    float: left;
    letter-spacing:normal;
    text-rendering:auto;
    vertical-align:top;
    word-spacing:normal;
    display:inline-block;
    visibility:visible;
}


.unit-s-1 {
    display:block;
    visibility:visible;
    width:100%
}

.unit-s-1-2 {
    width:50%;
}

.unit-s-1-3 {
    width:33.333%;
}

.gutter {
    padding-left:.5rem;
    padding-right: .5rem;
}

.gutter-left {
    padding-left:.5rem;
}

.gutter-right {
    padding-right: .5rem;
}

.profile {
    padding-top:1em;
}

.info {
    padding-top: 1em;
}

.staff {
    margin-bottom:1.5rem;   
}

h2 {
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    font-size: 2rem;
}

.promo {
    display:block;
    overflow: hidden;
    background-image: url(../images/fashion-week-2014.jpg);
    background-repeat: repeat;
    background-size: 40rem;
    background-position: center center;
    margin-bottom:1.5rem;
}

.pic {
    margin-bottom:1.5rem;
}

/* Shop */

.shop li img {
    padding: 10% 40% 0;
}

.shop li p {
    text-align:center;
}

.shop li {
    border-bottom:1px solid cadetblue;
    border-right:1px solid cadetblue;
}

.shop li:nth-child(even) {
    border-right:none;
}

.shop li:nth-child(7),
.shop li:nth-child(8) {
    border-bottom: none;
}


.shop ul {
    margin:1.5rem 0;
}

/* Footer */

footer {
    background-color:indianred;
    padding: 2rem 0.5rem .5rem;
}

footer p {
    color:white;
    margin: 1rem;
}

.social-icons li {
    padding: 0 2rem 2rem;
}

.nav li:hover,
.social-icons li:hover {
    opacity:.6;
    cursor:pointer;
}

span {
    display:none;
}

.social {
	max-width: 10em;
}
